<div class="container mt-5">
    <div
        class="row"
        *ngIf="order"
    >
        <div class="col-8">
            <app-basket-summary
                [items]="order.orderItems"
                [isBasket]="false"
                [isOrder]="true"
            ></app-basket-summary>
        </div>
        <div class="col-4">
            <div class="bg-light px-4 py-3 text-uppercase font-weight-bold">Order summary</div>
            <div class="p-4">
                <app-order-totals
                    [shippingPrice]="order.shippingPrice"
                    [subtotal]="order.subtotal"
                    [total]="order.total"
                ></app-order-totals>
            </div>
        </div>
    </div>
</div>