<div class="d-flex justify-content-center mt-5">
  <form
    *ngIf="loginForm"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    style="width: 500px;"
  >
    <h1 class="h3 mb-3 fw-normal text-center">Login</h1>
    <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
    <app-text-input formControlName="password" [label]="'Password Address'" [type]="'password'"></app-text-input>

    <button
      [disabled]="loginForm.invalid"
      class="w-100 btn btn-lg btn-primary"
      type="submit"
    >Sign in</button>
  </form>
</div>